#sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 20%;
    height: 100%;
    padding: 50px 30px;
    background-color: #d3d5e8;
}

#sidebar-content {
    padding: 10px;
    h2 {
        color: #1f1c1f;
    }

    hr {
        color: #e4e5f1;
        border: 0;
        height: 1px;
        background: #e4e5f1;
    }
}

.sidebar-knapp {
    width: 98%;
    padding: 20px !important;
    color: #1f1c1f;
    background-color: transparent;
    border: none;
    border-radius: 10px;
    filter: drop-shadow(0px 3px 3px #b2b5d6);
    text-align: left;
    font-size: 1.2rem;
    /*transition: 0.05s;*/
    &:hover {
        background-color: #c2c5df;
        cursor: pointer;
    }
    &:active {
        cursor: grabbing;
    }
}

#author {
    position: absolute;
    bottom: 0;
    text-align: center;
    margin: 10px auto;
}