* {
    box-sizing: border-box;
}

*::selection {
    background-color: var(--primary-hover-color);
    color: #e4e5f1;
}

html {
    font-family: Roboto;
}

.display {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    width: 80%;
    height: 100%;
    overflow-y: auto;
}

.liste {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    padding: 20px;
    height: 100%;
    &:last-child {
        margin-bottom: 40px;
    }
}

.liste li {
    border: 1px solid #d2d3db;
    box-shadow: 0 0 3px #d2d3db;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
    height: fit-content;
    background-color: #e4e5f1;
    color: #1b1c2e;
    padding: 0px;
    margin: 10px;
    transition: 0.2s;
    overflow: hidden;
    &:hover {
        transform: translateY(-5px);
        background-color: #d3d5e8;
        cursor: pointer;
    }
    span:hover {
        cursor: text;
    }
}

.fjell-bilde {
    width: 100%;
}

.fjell-informasjon {
    padding: 10px;
    color: #373856;
}

.fjell-navn {
    font-weight: bolder;
    color: #1b1c2e;
}

.mini-header {
    color: #1b1c2e;
}

.ny-knapp {
    height: 50px;
    width: 160px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 25px;
    border-radius: 10px;
    border: none;
    background-color: #b8bbf5;
    font-size: 0.9rem;
}