html {
    font-family: Roboto;
}

#fjell-liste {
    display: flex;
    list-style: none;
}

#fjell-liste li {
    border: 1px solid #d2d3db;
    box-shadow: 0 0 3px #d2d3db;
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    background-color: #e4e5f1;
    padding: 0px;
    margin: 10px;
}

.fjell-bilde {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.fjell-informasjon {
    padding: 10px;
}

.fjell-navn {
    font-weight: bolder;
}

#fjell-display {
    display: flex;
}